{% extends 'base.html' %} {% block title %}Songdo Campus — Yonsei Lost & Found{%
endblock %} {% block hero %}

<div class="title">
  <h2>Songdo Campus</h2>
  <h1>Yonsei Lost & Found</h1>
</div>
<div class="buttons-container">
  <button id="button1">Registration of found items</button>
  <button id="button2">Search for found items</button>
</div>
{% endblock %} {% block content %}

<script>
  document.getElementById("button1").addEventListener("click", function () {
    window.location.href = "{{ url_for('register_en') }}";
  });
  document.getElementById("button2").addEventListener("click", function () {
    window.location.href = "{{ url_for('find_en') }}";
  });
</script>
{% endblock %}
