{% extends 'base.html' %} {% block title %} {% if lang == 'ko' %} 연세대학교
유실물 통합포털 {% else %} Yonsei University Lost & Found Portal {% endif %} {%
endblock %} {% block html_lang %} {{ lang }} {% endblock %} {# Set dynamic lang
attribute for html tag #} {% block main_content %} {# On the index page, this
block is typically empty now as main visual elements are in base.html's
hero-section. If you have any content *below* the hero section that is unique to
the index page, place it here. #} {% endblock %}
