<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Yonsei Lost & Found</title>
    <!-- Chrome, Safari, IE -->
    <link
      rel="icon"
      href="static/images/기본형_심볼-01_cut.png"
      type="image/png"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/style_auth.css" />
  </head>

  <body>
    <header>
      <div class="container">
        <!-=- Logo -->
        <div class="logo">
          <a href="{{ url_for('index_en') }}">
            <img
              src="/static/images/기본형_심볼-03-removebg-preview.png"
              alt="Yonsei"
              style="width: 235px; height: auto"
            />
          </a>
        </div>

        <ul>
          <li><a href="{{ url_for('login_en') }}">Login</a></li>
          <li><a href="{{ url_for('signup_en') }}">Signup</a></li>
          <li><a href="{{ url_for('map_en')}}">Map</a></li>
          <li>
            <a href="#" class="has-dropdown">Languages</a>
            <div class="language-dropdown">
              <a href="{{ url_for('index_ko') }}">한국어</a>
              <a href="{{ url_for('index_en') }}">English</a>
            </div>
          </li>
        </ul>
      </div>
    </header>

    <div class="login-wrapper">
      <div class="login-card">
        <h2>Signup</h2>
        <form method="POST" action="{{ url_for('auth_bp.signup_en') }}">
          <label for="email">Email</label>
          <input id="email" name="email" type="email" required />

          <label for="user_id">User ID</label>
          <input id="user_id" name="user_id" type="text" required />

          <label for="password">Password</label>
          <input id="password" name="password" type="password" required />

          <button type="submit">Signup</button>
        </form>
        <p>Already a user? <a href="{{ url_for('login_en') }}">Login</a></p>
      </div>
    </div>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <script>
      alert("{{ messages[0] }}");
    </script>
    {% endif %} {% endwith %}
  </body>
</html>
